:root {
  --background: #ffffe6;
  --nav-bg: #000051;
  --nav-button: #ecb3ff;
  --disabled: rgb(170, 170, 170);
  --text-light: #fff;
  --text-dark: #000;
  --unsorted-bar-background: #b35900;
  --active-bar-background: #e6005c;
  --sorted-bar-background: #248f24;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
