:root {
  --background: #ffffe6;
  --nav-bg: #222831;
  --generate-button: #229cbb;
  --sort-button: #7939ce;
  --disabled: rgb(170, 170, 170);
  --text-light: #fff;
  --text-dark: #000;
  --unsorted-bar-background: #1eb18c;
  --active-bar-background: #d2d42e;
  --sorted-bar-background: #2d58e7;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
